.button {
  @apply flex items-center justify-center rounded-3xl py-1 xl:px-10 px-6;
}

.regular {
  @apply transition-all ease-in duration-200;
}

.regular:hover,
.regular:hover path {
  @apply bg-green_light text-white fill-white;
}
.ringed {
  @apply bg-btn_black text-green_light1 relative;
  @apply bg-clip-border border-2 border-transparent;
  transition: "all 0.2s linear 0s";
}

.ringed::before {
  content: "";
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  @apply absolute;
  @apply top-0 bottom-0 right-0 left-0;
  transition: all 0.2s linear 0s;

  background: linear-gradient(
    -64deg,
    #00da63 12%,
    #000 31%,
    #000 72%,
    #00da63 92%
  );
}

.ringed:hover::before {
  background: linear-gradient(
    351deg,
    #00da63 12%,
    #000 31%,
    #000 45%,
    #00da63 81%
  );
}

.regular {
}
