.container {
  box-shadow: 0 0 0 100vmax var(--bg-c);
  clip-path: inset(0 -100vmax);
  
  background: var(--bg-c);
  transition: top 0.3s;
}

.apps_button {
  @apply flex text-white gap-4 items-center justify-center;
}
