@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./loading.css";

@font-face {
  font-family: "Cera Pro Black";
  src: url("../assets/fonts/cera-pro/CeraPro-Black.woff2") format("woff2"),
    url("../assets/fonts/cera-pro/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Black Italic";
  src: url("../assets/fonts/cera-pro/CeraPro-BlackItalic.woff2") format("woff2"),
    url("../assets/fonts/cera-pro/CeraPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Bold";
  src: url("../assets/fonts/cera-pro/CeraPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/cera-pro/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Medium";
  src: url("../assets/fonts/cera-pro/CeraPro-Medium.woff2") format("woff2"),
    url("../assets/fonts/cera-pro/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Regular Italic";
  src: url("../assets/fonts/cera-pro/CeraPro-Italic.woff2") format("woff2"),
    url("../assets/fonts/cera-pro/CeraPro-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Light";
  src: url("../assets/fonts/cera-pro/CeraPro-Light.woff2") format("woff2"),
    url("../assets/fonts/cera-pro/CeraPro-Light.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .max-container {
    @apply max-w-screen-xl m-auto px-4 my-0;
  }
  /* 
  .dfTransition: {
    transition: "all 0.2s linear 0s",
  } */
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-green_1 font-CeraPro-Medium;
}

/* linear-gradient(180deg, #06C05A 0%, #07652D 100%); */

[data-hidden="true"] {
  @apply hidden !important;
}

[data-scale="0"] {
  @apply scale-0;
}

[data-scale="1"] {
  @apply scale-100;
}

.nav_bar {
  --bg-c: #000e05b5;
}

.nav_bar::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(60px);
  z-index: -1;
}

.active_slide {
  opacity: 1 !important;
}
